* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  min-height: 100%;
  /*background: yellow;*/
}

img {
  border-radius: 25px;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 500px) {
  .content {
    display: flex;
    justify-content: center;
  }
}

.content {
  text-align: center;
}

.recipe-card {
  padding: 15px;
  width: 50%;
  margin: 0 1em 1em 1em;
}

.recipe-overview {
  text-align: left;
  margin: auto;
  }

.recipe-details {
  text-align: left;
  padding-left: 50px;
}

.recipe-steps {
  width: 70%;
}

.recipe-details h3 {
  text-align: center;
  padding-bottom: 15px;
}

.bold {
  font-weight: bold;
}

.footer {
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}